<footer class="col-12">

    <div class="social-container">
        <a class="social-icon cubicBezier" target="_blank" href="http://facebook.com"><span class="fa fa-facebook"></span></a>
        <a class="social-icon cubicBezier" target="_blank" href="http://instagram.com"><span class="fa fa-instagram"></span></a>
        <a class="social-icon cubicBezier" target="_blank" href="http://twitter.com"><span class="fa fa-twitter"></span></a>
    </div>

    <h4>Chaitanya Kumar &reg; 2017</h4>
</footer>