
<div class="info-tab">
    <div class="info-container">
        <div></div><p> <b>E-mail:</b>shaleshp@yahoo.com</p><hr>
        <div></div><p> <b>Phone:</b>    (503) 774-3978</p><hr>
        <div></div><p> <b>Address:</b>  8245 SE Division St, Portland, OR 97266</p><hr>
        <div></div><p> <b>Hours:</b>  Mon - Sat // 8am - 9pm; Sunday // 8am - 3pm </p><hr>
    </div>
    <div class="map-container">       
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.2564537482403!2d-122.57999888402533!3d45.50491587910152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a04d0f47cb59%3A0x762b7edff8efa9fc!2sGyro+Town!5e0!3m2!1sen!2sus!4v1500316827134"  frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
