<nav class="nav navbar navbar-fixed-top cubicBezier">
    <a routerLink="/home"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa nav-fa fa-home" aria-hidden="true"></i></a>
    <a id="infonav" routerLink="/menu"  routerLinkActive="active-link"><i class="fa nav-fa fa-address-book" aria-hidden="true"></i></a>
    <a id="infonav" routerLink="/info"  routerLinkActive="active-link"><i class="fa nav-fa fa-info-circle" aria-hidden="true"></i></a>
    <a id="infonav" routerLink="/about"  routerLinkActive="active-link"><i class="fa nav-fa fa-forumbee" aria-hidden="true"></i></a>

    
</nav>