<div class="welcome-container">
    <div class="logo-container">
        <img class="choo-logo shake-zoom-animation" src="../img/owl-part-logo.png">
    </div>
    <div class="text-container">
        <div class="loading-animation"></div>
        <h1 class="change-opacity">Welcome to Spice Kitchen</h1>
    </div>
    <div class="">           
           <p> <b>Hours:</b>  <br>Mon - Sat // 8am - 9pm;<br> Sunday // 8am - 3pm </p><hr>
           <p> <b>Address:</b>  3632 SE Hawthorne Blvd Portland, OR 97214</p><hr>                      
    </div>
</div>